.game-page {
    color: whitesmoke;
    background-color: forestgreen;
}

.tiles-container {
    display: flex;
    gap: 10px; /*spacing between tiles*/
    flex-wrap: wrap;
    justify-content: center;
}

.tile, .deck-image {
    width: 72px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; /*border*/
    border-radius: 10px; /*rounded corners*/
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /*add depth*/
}

.tile img {
    width: 90%;
    height: 90%;
    object-fit: contain; /*prevents distortion*/
}

.deck-image.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/*ChallengeTile on back of tile. Represents face down deck.*/
