.tiles-container {
    display: flex;
    gap: 10px; /*spacing between tiles*/
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    width: 80px;
    height: 80px; /*square shape*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; /*border*/
    background-color: white;
    border-radius: 10px; /*rounded corners*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /*add depth*/
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: contain; /*prevents distortion*/
}



.deck-image {
     width: 20px;
     height: 80px;
     transform: rotate(90deg);
}