/*game board layout*/
.game-board {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 16px auto;
    align-items: center;
}

.board-row {
    display: flex;
}

.board-cell {
    width: 72px;
    height: 29px;
    background-color: white;
    border: 3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*disable board when no player selected*/
.board-cell.disabled {
     pointer-events: none;
     opacity: 0.5;
}

/*highlight center position to make sure board is staying centered for debugging*/
.board-cell.center {
    outline: 2px dashed orange;
}