/*game board layout*/
.game-board {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 16px auto;
    align-items: center;
}

.board-row {
    display: flex;
}

.board-cell {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*disable board when no player selected
    works for now to prevent player from making a move before selecting starting player
    still need to fix currentPlayer turn validation
*/
.board-cell.disabled {
     pointer-events: none;
     opacity: 0.5;
}