.home-page {
    font-size: 2rem;
    display: flex;
    color: white;
    background-color: darkgreen;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    border-radius: 10px;
}

/*contain to align drop downs in 2 columns*/
.dropdown-container {
    display: flex;
    justify-content: center; /*center columns*/
    gap: 60px;
}

/*colums for dropdowns*/
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start-button{
    margin: 10px auto;
}

.create-profile-container {
    text-align: center;
}

/*link*/
.create-profile-container a {
    display: inline-block;
    color: lightpink;
}

h3 {
    text-align: center;
    color: lightpink;
}