/*Global layout CSS - Affects entire document*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden /*no sideways scroll*/
}

/*global layour rules*/
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*Ensure the app takes up the full screen*/
    overflow: hidden; /*make sure root container isnt oversized*/
}

/*standard h1 headers*/
h1 {
    font-size: 4rem;
    color: yellow;
    background-color: lightcoral;
    text-align: center;
}

h2 {
    color: orange
}

/*standard buttons*/
button {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: lightblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    max-width: 200px;
    margin: 10px 0;
    display: block;
}

button:hover {
     background-color: lightyellow;
}

/*standard dropdowns*/
select {
    width: 100%;
    padding: 10px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 200px;
    display: block;
}