/*Global Styles for app*/

/* Global Styles for app */

html, body {
    height: 100%;
    margin: 0;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: lightgray /* Optional background color */
}

main {
    flex-grow: 1; /* This ensures the content below the header expands and takes available space */
    padding: 2rem;
}
